/* CSS file for Keyboard Test */

/* 
Order for CSS Elements:
1. Display (display, box-sizing, visibility, z-index)
2. Positioning (postion, top, left, right)
3. Size (width, height, padding, margin)
4. Border (border, border-radius, outline, resize)
5. Background (background, box-shadow)
6. Text (font-family, font-size, color, line-heigth, whitespace, text-align)
7. Transforms and Transitions (transform, transitions)
8. Else
*/

/* ID */
#keyboard-input {
    position: relative;
    width: 65vw;
    height: 24rem;
    padding: 0.3rem 1rem;
    border: 0.1rem solid var(--side-grey);
    border-radius: 1rem;
    outline: none;
    resize: none;
    background: none;
    font-size: 1rem;
    overflow: scroll;
}
