/* CSS file for Keyboard Test */

/* 
Order for CSS Elements:
1. Display (display, box-sizing, visibility, z-index)
2. Positioning (postion, top, left, right)
3. Size (width, height, padding, margin)
4. Border (border, border-radius, outline, resize)
5. Background (background, box-shadow)
6. Text (font-family, font-size, color, line-heigth, whitespace, text-align)
7. Transforms and Transitions (transform, transitions)
8. Else
*/

/* Hide the about when viewport too small */
@media screen and (max-height: 50rem) {
    .about img {
        display: none;
    }
}

/* Classes */
.keyboard-all {
    display: grid;
    grid-template-areas: 
        "main-cluster main-cluster main-cluster"
        "arrow-cluster nav-cluster numpad-cluster"
        "media-cluster media-cluster numpad-cluster";
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.keyboard-cluster {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    width: fit-content;
    height: fit-content;
    padding: 1.5vw 1.5vw;
    margin: 0.5vw 0.5vw;
    border: 0.1rem solid var(--side-grey);
    border-radius: 1vw;
}

.key {
    display: inline-block;
    width: 3vw; /* Default Key Size 1U = 3vw */
    padding: 0.25vw;
    margin: 0.25vw 0.1vw;
    border: 0.1rem solid var(--side-grey);
    border-radius: 0.5vw;
    font-size: 1.1vw;
    text-align: center;
    overflow: hidden;
}

/* 1U = 3rem */
.key-1_25u {
    width: 3.75vw;
}

.key-1_5u {
    width: 4.5vw;
}

.key-1_75u {
    width: 5.25vw;
}

.key-2u {
    width: 6vw;
}

.key-2_25u {
    width: 6.75vw;
}

.key-2_75u {
    width: 8.25vw;
}

.key-6_25u {
    width: 18.75vw;
}

.key-blank {
    opacity: 0;
}

.press {
    background-color: rgba(50, 150, 50, 0.75);
}

.pressed {
    background-color: rgba(50, 150, 50, 0.5);
}

/* ID */
#main-cluster {
    grid-area: main-cluster;
}

#arrow-cluster {
    grid-area: arrow-cluster;
    padding: 0.75vw 1.1vw;
}

#nav-cluster {
    grid-area: nav-cluster;
    padding: 0.75vw 1.1vw;
}

#media-cluster {
    grid-area: media-cluster;
    padding: 0.75vw 1.1vw;
}

#numpad-cluster {
    grid-area: numpad-cluster;
    padding: 0.9vw 1.8vw;
}

#Fn {
    background-color: rgba(0, 0, 0, 0.25);
}

#NumLock {
    padding: 0.4vw 0vw;
    font-size: 0.8vw;
}
