/* CSS file for general content */

/* 
Order for CSS Elements:
1. Display (display, display styling, opacity, visibility, z-index)
2. Positioning (position, top, bottom, left, right, float)
3. Size (width, height, min/max width/height, padding, margin, box-sizing,)
4. Border (border, border-radius, outline, resize)
5. Background (background, box-shadow)
6. Text (font-family, font-size, color, text-decoration, line-height, white-space, text-align)
7. Transforms and Transitions (transform, transition, align, justify)
8. Else
*/

/* 
Order for CSS Documentation
1. Main HTML/Semantic (Section) Elements
2. General HTML Objects
3. Classes
4. ID
5. Selectors
*/

/* Custom Colours */
:root {
    --main-grey: rgb(50, 50, 50); /* #323232 | rgb(50, 50, 50) */
    --side-grey: rgb(100, 100, 100); /* #646464 | rgb(100, 100, 100) */
    --off-grey: rgb(150, 150, 150); /* #969696 | rgb(150, 150, 150) */
    --main-brown: rgb(234, 215, 187); /* #ead7bb | rgb(234, 215, 187) */
    --side-brown: rgb(182, 158, 123); /* #b69e7b | rgb(182, 158, 123) */
}

/* Remove scroll button for number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}

/* Remove scroll bar for text area */
textarea::-webkit-scrollbar,
#target-text::-webkit-scrollbar {
    display: none;
}

/* Main HTML/Semantic (Section) Elements */
* {
    user-select: none;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Arial, sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--main-grey);
    text-decoration: none;
}

html, body {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
    min-height: 100%;
    margin: 0;
    background-color: var(--main-brown);
    align-items: center;
}

nav {
    margin-bottom: 3rem;
}

main {
    flex: 1;
    margin-top: 4rem;
}

footer {
    flex-shrink: 0;
}

/* General HTML Objects */
kbd {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    border: 1px solid var(--side-brown);
    border-radius: 3px;
    background-color: var(--main-brown);
    box-shadow:
      0 1px 1px rgba(0, 0, 0, 0.2),
      0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
    font-size: 0.85rem;
    font-weight: bold;
    white-space: nowrap;
}

/* ID */
#logo {
    position: fixed;
    left: 0;
    right: auto;
    width: 15rem;
    height: auto;
    margin: 0.7rem 1rem;
}

#reset {
    width: fit-content;
    height: auto;
    padding: 0.5rem;
    margin: auto;

    /* 
    Alternate Center Method
    position: relative;
    width: fit-content;
    left: 50%;
    right: auto;
    padding: 0.5rem;
    text-align: center;
    transform: translate(-50%); 
    */
}

#reset:hover {
    border-radius: 0.5rem;
    background-color: var(--side-brown);
    color: white;
    cursor: pointer;
}

/* Selectors */
nav ul {
    display: inline;
    position: fixed;
    left: 17rem;
    right: auto;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    padding: 1rem;
    font-size: 1rem;
    color: var(--side-grey);
}

nav ul li a:hover {
    border-radius: 0.75rem;
    background-color: var(--side-brown); 
    color: white;
}

footer img {
    width: 2.5rem;
    height: auto;
    padding: 0.25em;
    margin: 0.05rem;
}

footer img:hover {
    border-radius: 0.5rem;
    background-color: var(--side-brown);
}
