/* Custom Colours */
:root {
    --main-grey: rgb(50, 50, 50); /* #323232 | rgb(50, 50, 50) */
    --side-grey: rgb(100, 100, 100); /* #646464 | rgb(100, 100, 100) */
    --off-grey: rgb(150, 150, 150); /* #969696 | rgb(150, 150, 150) */
    --main-brown: rgb(234, 215, 187); /* #ead7bb | rgb(234, 215, 187) */
    --side-brown: rgb(182, 158, 123); /* #b69e7b | rgb(182, 158, 123) */
}


/* Style for main HTML/semantic (section) elements */
* {
    margin: 0;
    font-family: Verdana, Arial, sans-serif;
    color: var(--main-grey);
    font-size: 1.1rem;
    font-weight: bold;
    box-sizing: border-box;
}

body {
    background-color: var(--main-brown);
    user-select: none;
}

nav {
    margin: 0.25rem 0rem 3rem 0rem;
}

main {
    margin: 3rem 0rem
}

main, p {
    display: inline;
    position: fixed;
    transform: translate(-50%);
    left: 50%;
    right: auto;
}

footer {
    position: fixed;
    bottom: 0;
}


/* Style for general HTML objects */
a {
    color: var(--side-grey);
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
}

label {
    font-weight: bold;
}

kbd {
    background-color: var(--main-brown);
    border-radius: 3px;
    border: 1px solid var(--side-brown);
    box-sizing: border-box;
    box-shadow:
      0 1px 1px rgba(0, 0, 0, 0.2),
      0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
    display: inline-block;
    font-size: 0.85rem;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
    white-space: nowrap;
}


/* Style for classes */
.text-region {
    position: relative;
    width: 65vw;
    height: 20rem;
    transform: translate(-50%);
    left: 50%;
    right: auto;
    font-size: 1.3rem;
}

.text-region.unfocused .target-chars {
    color: var(--off-grey);
}

.target-chars {
    font-size: inherit;
    color: var(--side-grey);
}

.correct {
    color: rgb(50, 150, 50);
}

.incorrect {
    color: rgb(250, 50, 50);
}

.about {
    display: inline;
    position: fixed;
    transform: translate(-50%);
    left: 50%;
    right: auto;
    bottom: 0.5rem;
}

/* Hide the about when viewport too small */
@media screen and (max-height: 41rem) {
    .about img {
        display: none;
    }
}

/* Style for id */
#logo {
    position: fixed;
    width: 15rem;
    height: auto;
    float: left;
    margin: 0.5rem 1rem;
}

#user-text {
    position: absolute;
    width: inherit;
    height: inherit;
    padding: 0.5rem 1rem;
    background: rgba(0, 0, 0, 0.025);
    font-size: inherit;
    font-weight: bold;
    resize: none;
    border: 0.1rem solid var(--side-grey);
    border-radius: 1rem;
    box-sizing: border-box;
    outline-style: none;
    overflow: scroll;
    opacity: 0;
    /* margin: 0rem 0rem; */
}

#target-text {
    position: absolute;
    width: inherit;
    height: inherit;
    padding: 0.5rem 1rem;
    font-size: inherit;
    font-weight: bold;
    resize: none;
    border: 0.1rem solid var(--side-grey);
    border-radius: 1rem;
    box-sizing: border-box;
    outline-style: none;
    overflow: scroll;
    opacity: 100;
    /* margin: 0rem 0rem; */
}

#timer {
    width: 5rem;
    height: auto;
    color: var(--off-grey);
    text-align: center;
    padding: 0.5rem;
    background: rgba(0, 0, 0, 0.025);
    border: 0.1rem solid var(--side-grey);
    border-radius: 0.5rem;
    outline-style: none;
    margin: 0.25rem 3rem 0.5rem 0rem;
}

#wpm {
    width: 5rem;
    height: auto;
    color: var(--main-grey);
    text-align: center;
    padding: 0.5rem;
    background: rgba(0, 0, 0, 0.025);
    border: 0.1rem solid transparent;
    border-radius: 0.5rem;
    outline-style: none;
    margin: 0.25rem 0rem 0.5rem 0rem;
}

#restart {
    padding: 0.5rem;
}

#restart:hover {
    cursor: pointer;
    color: white;
    background-color: var(--side-brown);
    padding: 0.5rem;
    border-radius: 0.5rem;
    outline-style: none;
}


/* Style for selectors */
nav ul {
    display: inline;
    position: fixed;
    left: 15rem;
    right: auto;
    list-style-type: none;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    text-align: center;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 0.75rem;
    box-sizing: border-box;
}

nav ul li a:hover {
    color: white;
    background-color: var(--side-brown); 
}

footer img {
    width: 2.5rem;
    height: auto;
    padding: 0.25em;
    margin: 0.05rem;
}

footer img:hover {
    background-color: var(--side-brown);
    border-radius: 0.5rem;
}

