/* CSS file for Typing Test */

/* 
Order for CSS Elements:
1. Display (display, box-sizing, visibility, z-index)
2. Positioning (postion, top, left, right)
3. Size (width, height, padding, margin)
4. Border (border, border-radius, outline, resize)
5. Background (background, box-shadow)
6. Text (font-family, font-size, color, line-heigth, whitespace, text-align)
7. Transforms and Transitions (transform, transitions)
8. Else
*/

/* Hide the about when viewport too small */
@media screen and (max-height: 41rem) {
    .about img {
        display: none;
    }
}

/* Classes */
.text-region {
    position: relative;
    width: 65vw;
    height: 20rem;
    /* transform: translate(-50%);
    left: 50%;
    right: auto; */
    font-size: 1.3rem;
    font-weight: bold;
    /* resize: none; */
}

.text-region.unfocused .target-chars {
    color: var(--off-grey);
}

.target-chars {
    font-size: inherit;
    color: var(--side-grey);
}

.correct {
    color: rgb(50, 150, 50);
}

.incorrect {
    color: rgb(250, 50, 50);
}

/* ID */
#user-text {
    position: absolute;
    width: inherit;
    height: inherit;
    padding: 0.3rem 1rem;
    margin: inherit;
    opacity: 0;
    border: 0.1rem solid var(--side-grey);
    border-radius: 1rem;
    outline: none;
    background: rgba(0, 0, 0, 0.025);
    font-size: inherit;
    font-weight: inherit;
    resize: none;
    overflow: scroll;
}

#target-text {
    position: absolute;
    width: inherit;
    height: inherit;
    padding: 0.3rem 1rem;
    margin: inherit;
    border: 0.1rem solid var(--side-grey);
    border-radius: 1rem;
    outline: none;
    resize: none;
    font-size: inherit;
    font-weight: inherit;
    overflow: scroll;
}

#timer {
    width: 5rem;
    height: auto;
    padding: 0.5rem;
    margin: 0.25rem 3rem 0.5rem 0rem;
    border: 0.1rem solid var(--side-grey);
    border-radius: 0.5rem;
    outline: none;
    background: rgba(0, 0, 0, 0.025);
    color: var(--off-grey);
    text-align: center;
}

#wpm {
    width: 5rem;
    height: auto;
    padding: 0.5rem;
    margin: 0.25rem 0rem 0.5rem 0rem;
    border: 0.1rem solid transparent;
    border-radius: 0.5rem;
    outline: none;
    background: rgba(0, 0, 0, 0.025);
    color: var(--main-grey);
    text-align: center;
}

#restart {
    padding: 0.5rem;
}

#restart:hover {
    border-radius: 0.5rem;
    background-color: var(--side-brown);
    color: white;
    cursor: pointer;
}
